@import url(https://fonts.googleapis.com/css?family=Satisfy); 
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lobster|Press+Start+2P|Trade+Winds);

body {
  background: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
  background-repeat: no-repeat;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  color: rgb(207, 151, 208);
  display: block;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  text-shadow: 1px 1px black;
  transform: rotate(-10deg);
}

.intro--the {
  transform: rotate(-10deg) translate(-20px, 15px);
}

.intro--num {
  background: rgb(240, 200, 160);
  border: 1px dotted rgb(50, 146, 194);
  color: rgb(50, 146, 194);
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bolder;
  padding: 4px 6px 2px;
  position: absolute;
  text-shadow: none;
  transform: rotate(-10deg) translate(20px, -25px);
}

.logo_container {
  display: inline-block;
  margin: 25px auto 40px;
}

.logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.logo_top {
  background: linear-gradient(rgb(255, 142, 142), rgb(165, 207, 232));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
}

.logo_bot {
  text-shadow: 
    2px 1px rgb(110, 0, 108),
    4px 2px rgb(110, 0, 108),
    6px 4px rgb(110, 0, 108),
    8px 5px rgb(110, 0, 108),
    10px 6px rgb(110, 0, 108),
    12px 7px rgb(110, 0, 108),
    14px 8px rgb(110, 0, 108),
    16px 9px rgba(0, 0, 0, 0.555),
    18px 10px rgba(0, 0, 0, 0.555),
    20px 11px rgba(0, 0, 0, 0.555),
    22px 12px rgba(0, 0, 0, 0.555),
    24px 13px rgba(0, 0, 0, 0.555);
}

.sub {
  color:rgb(241, 207, 250);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.sub-name {
  margin-left: 1%;
  font-family: 'Bowlby One SC', cursive;
  font-size: 18px;
  color:black;
  text-shadow: -1px 0 rgba(255, 255, 255, 0.767), 0 1px rgba(255, 255, 255, 0.767), 1px 0 rgba(255, 255, 255, 0.767), 0 -1px rgba(255, 255, 255, 0.767);
}


nav > ul {
  display: inline-block;
  margin: 25px auto 40px;
}

nav > ul > li {
  float: left;
  line-height: 70px;
  margin-right: 70px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(207, 151, 208);
}

#gameBackground {
  height: 400px;
  width: 960px;
  position: relative;
  border: 2px solid black;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  /* background: url(/css/asteroid.png); */

}

[id='0'] {
  height: 100px;
  width: 300px;
  position: absolute;
  background-image: url(/css/asteroid.png);
  background-size: 500px;
  background-position: left;
}

[id='1'] {
  height: 80px;
  width: 400px;
  position: absolute;
  top: 100px;
  padding-top: 25px;
  background-image: url(/css/asteroid.png);
  background-size: 500px;
  background-position: -80px;
}

input {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

input#startbutton {
  color: white;
}


.mover {
  /* position: static; */
  animation-name: example;
  animation-duration: 3s;
  /* animation-delay: 3s; */
  animation-fill-mode: both;   
}




@keyframes example {
  from {bottom: 0px; right: 0px;} 
  to {bottom: 400px; right: 400px;} 
}
